.lcl{float:left;width:600px;padding-left: 60px;padding-top:50px;font: 12px/1.5 Helvetica, Arial, "宋体", sans-serif;color: #2b2b2b;}
a:hover{text-decoration: underline;}
ul{list-style-type: none;}
.lcl div{
    float:left;
    width:560px;
}
.lcl h4{
    float:left;
    display: inline;
    margin: 30px 0 10px;
    font-family: "微软雅黑","Weiruan Yahei";
    font-size: 15px;
}
.lcl .lcl_1 p{
    float:left;
    line-height: 20px;
}
.lcl .lcl_1 p img{
    float:left;
    width:108px;
    height:81px;
    padding: 2px;
    margin-right: 15px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
}
.lcl .lcl_1 h4{
    display: inline;
    float: left;
    width:430px;
    margin: 0px;
    font: 22px "黑体";
    padding:0 0 10px;
}
.lcl .lcl_1 span a.nick_name{
    color:rgb(40,160,200);
}
.lcl .lcl_1 span{
    float: left;
    margin-right: 30px;
    margin-bottom: 13px;
}
.lcl .lcl_1 p a.focus{
    float:left;
    display: block;
    padding: 0 10px;
    background: #ebebeb;
    border: 1px solid #ababab;
    text-decoration: none;
    border-radius: 3px;
    clear:left;
}
.lcl .lcl_1 p a.focus:hover{
    background: #9a9a9a;
}
.lcl .lcl_2{
    float:left;
    width:560px;
}
.lcl .lcl_2 p{
    width:560px;
    text-indent: 2em;
    word-wrap: break-word;
    clear: both;
}
.lcl .lcl_3{
    padding-top: 20px;
}
.lcl .lcl_4 textarea{
    width:556px;
    height:80px;
    padding: 2px;
    border: 1px solid #dadada;
    border-radius: 2px;
    margin-bottom: 8px;
}
.lcl .lcl_4 .submit_btn{
    float:right;
    display: block;
    padding: 0 10px;
    margin-right: 20px;
    background: #ebebeb;
    border: 1px solid #ababab;
    text-decoration: none;
    border-radius: 3px;
    clear:both;
}
.lcl .lcl_4 .submit_btn:hover{
    background: #9a9a9a;
}
.lcl .lcl_4 p{
    float:left;
    display: inline;
    width:560px;
    margin-top: 15px;
    word-wrap: break-word;
}

.lcl .lcl_4 p img{
    float:left;
    width:46px;
    height:46px;
    padding: 2px;
    margin-right: 10px;
    border: 1px solid #dadada;
}
.lcl .lcl_4 p .nick_name{
    float:left;
    font-size: 13px;
    line-height: 20px;
    color:rgb(40,160,200);
}
.lcl .lcl_4 p .span_out{
    float:left;
    width:490px;
    line-height: 20px;
}
.lcl .lcl_4 p .span_out .span1{
    float:left;
    width:490px;
}
.lcl .lcl_4 p .span_out .span2{
    float:left;
    margin-right: 15px;
    color:rgb(40,160,200);
}
.lcl .lcl_4 p .span_out .span3{
    float:left;
    color:#888;
}
.lcl .lcl_4 p .span1 .span1{
    float:left;
    width:490px;
}
.lcr{float:right;width:200px;padding-right: 60px;padding-top:40px;font: 12px/1.5 Helvetica, Arial, "宋体", sans-serif;color: #2b2b2b;}
.lcr h5{
    float:left;
    display: inline;
    width:100%;
    font-family: "微软雅黑","Weiruan Yahei";
    font-size: 13px;
    margin-top: 30px;
    padding-left: 10px;
    padding-bottom: 5px;
    color:#666;
    text-align: left;
    border-bottom: 1px solid #ebebeb;
}
.lcr .lcr_1{
    width:100%;
    padding-top: 5px;
}
.lcr .lcr_1 a{
    display: block;
    width:180px;
    height:60px;
    margin: 0 auto;
    background:#dadada;
    border: 1px solid #ababab;
    border-radius: 4px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
.lcr .lcr_1 a:hover{
    background: #d3d3d3;
}
.lcr .lcr_2 ul{
    float:left;
    padding-top: 10px;
    padding-left: 13px;
}
.lcr .lcr_2 ul li{
    float:left;
    margin-right: 12px;
    padding-bottom: 5px;
}
.lcr .lcr_2 a img{
    border: 1px solid #ebebeb;
    width:44px;
    height:44px;
    padding:2px;
    cursor: pointer;
}
.lcr .lcr_2 ul li.li_turn{
    float:left;
    width:100%;
    height: 15px;
    margin-top: 5px;
}
.lcr .lcr_2 ul li.li_turn a.turn_left{
    float:left;
    width: 15px;
    height:15px;
    margin-left: 137px;
    margin-right: 7px;
    background: url(../../images/blogImgs/left_right_bg.jpg) 0px 0px;
}
.lcr .lcr_2 ul li.li_turn a.turn_right{
    float:left;
    width: 15px;
    height:15px;
    background: url(../../images/blogImgs/left_right_bg.jpg) -15px 0px;
}
.lcr .lcr_3 p.pl{
    float:left;
    width:75px;
    padding-top: 10px;
    padding-right: 5px;
}
.lcr .lcr_3 p.pl img{
    float:left;
    width:60px;
    height:60px;
    padding: 2px;
    margin-bottom: 8px;
    margin-left: 5px;
    border: 1px solid #ebebeb;
}
.lcr .lcr_3 p.pl a.focus{
    float:left;
    width:60px;
    margin-left: 7px;
    background: #ebebeb;
    border: 1px solid #ababab;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    clear:left;
}
.lcr .lcr_3 p.pl a.focus:hover{
    background: #9a9a9a;
}
.lcr .lcr_3 p.pr{
    float:left;
    width:120px;
    padding-top: 10px;
}
.lcr .lcr_3 p.pr a.nick_name{
    float:left;
    clear: right;
    color:rgb(40,160,200);
}
.lcr .lcr_3 p.pr span{
    float:left;
    width:120px;
    word-wrap: break-word;
}
.lcr .lcr_4 ul{
    float:left;
    padding-top: 10px;
    padding-left: 10px;
}
.lcr .lcr_4 ul li{
    float:left;
    margin-right: 9px;
    padding-bottom: 5px;
}
.lcr .lcr_4 ul li img{
    width:80px;
    height:60px;
    padding: 2px;
    border:1px solid #ebebeb;
}

.lcr .lcr_5{
    float:left;
    position: relative;
}
.lcr .lcr_5 table{
    float:left;
    width: 250px;
    margin-left: 5px;
}
.lcr .lcr_5 table tr{
    float:left;
    width:240px;
}
.lcr .lcr_5 table tr.type{
    margin-top: 8px;
}
.lcr .lcr_5 table tr td{
    float:left;
    text-align: left;
}
.lcr .lcr_5 table tr td a{
    color:rgb(40,160,200);
}
.lcr .lcr_5 table tr.evaluate_type{
    margin-left: 10px;
    margin-top: 10px;
}
.lcr .lcr_5 table tr td .type2{
    margin-top: 10px;
}
.lcr .lcr_5 table tr td .grade{
    color:#f90;
    padding-left: 10px;
    font-size: 22px;
    font-family: microsoft yahei;
    font-weight: bolder;
}

.orWord{
    color:#f90;
}

.type2{ float:left;width:110px; height:18px; background:url(../../images/blogindex/star.gif) repeat-x;text-align: right;}
.type2,.type2 .rate-current,.type2 .rate-on:hover,.type2-bad .rate-current,.type2-bad .rate-on:hover{ background: url(../../images/blogindex/star.gif) repeat-x; color:#cc6600;}
.type2{ position:relative; height:18px; width:110px;}
.type2 .rate-on,.type2 .rate-current{ position:absolute; top:0; left:0; height:18px; outline:none;}
.type2 .rate-current,.type2 .rate-on:hover{ background-position:0 -46px;}
.type2-bad .rate-current,.type2-bad .rate-on:hover{ background-position:0 -23px;}