.ltb_cont a:link,.ltb_cont a:hover,.ltb_cont a:active,.ltb_cont a:visited {color: #333;}
.fl{float:left;display: inline;}
.fr{float:right;display: inline;}
a:hover img {filter: alpha(opacity=85);-moz-opacity: 0.85;background: white;opacity: 0.85;}

.ltb_cont {
	float: left;
	width: 970px;
    padding: 10px 15px 0 0px;
    color:rgb(102,102,102);
}
.lcb_left{
    width: 690px;
}

.lcb_left h3{
    float:left;
    background: #ebebeb;
    line-height: 24px;
    width:668px;
    padding-left: 20px;
    height: 24px;
    font-size: 15px;
    color:rgb(51,51,51);
    font-weight: normal;
    border:1px solid rgb(239, 239, 239);
    border-bottom: 1px solid #dadada;
}
.lcb_left .term_info{
    width:690px;
    margin-top: 15px;
}
.lcb_left .term_info .img_wrap{
    margin: 0px 10px 10px 0px;
}
.lcb_left .term_info img{
    width:180px;
    height:135px;
    padding: 3px;
    border: 1px solid #ebebeb;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
}
.lcb_left .term_info .title{
    width: 486px;
}
.lcb_left .term_info .title h2{
    word-wrap: break-word;
    color:rgb(51,51,51);
    font-family: "黑体";
    font-size: 16px;
    line-height: 30px;
}
.lcb_left .term_info .basic{
    float:left;
}
.lcb_left .term_info .basic p{
    line-height: 24px;
}
.lcb_left .term_info .basic p span{
    margin-right: 20px;
}
.lcb_left .term_info .basic p a.focus{
    float:left;
    padding: 0 22px;
    margin-top: 10px;
    line-height: 20px;
    background: #ebebeb;
    border: 1px solid #ababab;
    text-decoration: none;
    border-radius: 3px;
}
.lcb_left .term_info .basic p a.focus:hover{
    background: #9a9a9a;
}

.lcb_left .term_info .operate{
    float:right;
}
.lcb_left .term_info .operate{
    float:right;
    width:
}
.lcb_left .term_info .operate a.act_btn{
    float:right;
    line-height: 22px;
    color:#fff;
    font-size: 14px;
    font-family: "微软雅黑";
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
    text-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;
    border-radius: 10px;
    padding:0 15px;
    margin-top: 8px;
    margin-bottom: 5px;
    -moz-text-blink: none;
    -moz-text-decoration-color: rgb(255, 255, 255);
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    -moz-transition-delay: 0s;
    -moz-transition-duration: 0.5s;
    -moz-transition-property: background-color;
    -moz-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    clear: both;
}
.lcb_left .term_info .operate a.act_btn:hover{
    background: rgb(246,192,10);
    text-decoration: none;
}
.lcb_left .term_info .operate a.host_btn{
    background: rgb(24, 129, 189);
}
.lcb_left .term_info .operate a.player_btn{
    background: rgb(141, 184, 23);
}
.lcb_left .term_info .operate a.guest_btn{
    background: rgb(185, 125, 200);
}

.term_info .list_share{
    margin-top: 10px;
}

.lcb_left .term_desc{
    float:left;
    display: inline;
    width:688px;
    margin-top: 15px;
    border:1px solid rgb(239, 239, 239);
}
.lcb_left .term_desc p{
    float:left;
    padding: 10px;
    text-indent: 2em;
    line-height: 18px;
}

.other_terms{
    margin-top: 15px;
}
.other_terms .term_scroll{
    float:left;
    width:688px;
    height: 145px;
    padding-bottom: 15px;
    border-bottom:1px solid rgb(239, 239, 239);
    border-left:1px solid rgb(239, 239, 239);
    border-right:1px solid rgb(239, 239, 239);
    background: #fff;
}
.other_terms .term_scroll .scroll_left{
    float:left;
    width:34px;
    padding-top: 60px;
}
.other_terms .term_scroll .scroll_left a{
    float:left;
    width:34px;
    height: 22px;
    background: url(../../images/onlive/arrow.png) 6px 0px no-repeat;
}
 .other_terms .term_scroll .scroll_left a:hover{
    background-position: 6px -33px;
}
.other_terms .term_scroll .scroll_right{
    float:right;
    width:34px;
    padding-top: 60px;
}
.other_terms .term_scroll .scroll_right a{
    display: block;
    width:34px;
    height: 22px;
    background: url(../../images/onlive/arrow.png) -86px 0px no-repeat;
}
.term_scroll .scroll_right a:hover{
    background-position: -86px -33px;
}
.term_scroll .scroll_center{
    float:left;
    width: 620px;
    height: 145px;
    overflow: hidden;
    position: relative;
}
.term_scroll .scroll_center ul{
    position: absolute;
    left:0px;
    top:13px;
    width:1848px;
    height: 145px;
    list-style-type: none;
}
.scroll_center ul li{
    float:left;
    display: inline;
    width:120px;
    margin-right: 46px;
}
.scroll_center ul li p{
    height:21px;
    line-height: 21px;
    overflow: hidden;
}
 .scroll_center ul li p span{
}
.scroll_center ul li a:hover{
    text-decoration: underline;
}
 .scroll_center ul li a img{
    width:120px;
    height:90px;
    border:none;
}

.lcb_left .message_box{
    float:left;
    display: inline;
    width: 688px;
    margin-top: 15px;
    border: 1px solid rgb(239, 239, 239);
}
.lcb_left .message_box .cont_out{
    float:left;
    display: inline;
    margin-left: 15px;
    padding:10px;
    width: 560px;
}
.lcb_left .message_box .cont_out textarea{
    width:556px;
    height:80px;
    padding: 2px;
    border: 1px solid #dadada;
    border-radius: 2px;
    margin-bottom: 8px;
}
.lcb_left .message_box .cont_out .submit_btn{
    float:right;
    display: block;
    padding: 0 10px;
    margin-right: 20px;
    background: #ebebeb;
    border: 1px solid #ababab;
    text-decoration: none;
    border-radius: 3px;
    clear:both;
}
.lcb_left .message_box .cont_out .submit_btn:hover{
    background: #9a9a9a;
}
.lcb_left .message_box .cont_out p{
    float:left;
    display: inline;
    width:560px;
    margin-top: 15px;
    word-wrap: break-word;
}
.lcb_left .message_box .cont_out p img{
    float:left;
    width:46px;
    height:46px;
    padding: 2px;
    margin-right: 10px;
    border: 1px solid #dadada;
}
.lcb_left .message_box .cont_out p .nick_name{
    float:left;
    font-size: 13px;
    line-height: 20px;
    color:rgb(40,160,200);
}
.lcb_left .message_box .cont_out p .span_out{
    float:left;
    width:490px;
    line-height: 20px;
}
.lcb_left .message_box .cont_out p .span_out .span1{
    float:left;
    width:490px;
}
.lcb_left .message_box .cont_out p .span_out .span2{
    float:left;
    margin-right: 15px;
    color:rgb(40,160,200);
}
.lcb_left .message_box .cont_out p .span_out .span3{
    float:left;
    color:#888;
}
.lcb_left .message_box .cont_out p .span1 .span1{
    float:left;
    width:490px;
}


.lcb_right {
	width: 250px;
    overflow: hidden;
}

.lcb_right .lcb_round{
    float: left;
    display: inline;
    width:248px;
    margin-top: 15px;
    border: 1px solid rgb(239, 239, 239);
}
.lcb_right .lcb_round h4{
    float:left;
    background: #ebebeb;
    line-height: 24px;
    width:228px;
    padding-left: 20px;
    height: 24px;
    font-size: 14px;
    color:rgb(51,51,51);
    font-weight: normal;
    border:1px solid rgb(239, 239, 239);
    border-bottom: 1px solid #dadada;
}
.lcb_right .persons ul{
    float: left;
    list-style-type: none;
    width: 100%;
    margin:0px 0 5px 14px;
}
.lcb_right .persons ul li{
    float:left;
    margin-right: 14px;
    margin-top: 8px;
}
.lcb_right .persons ul li.imgLi a{
    float: left;
    border: 2px solid #fff;
}
.lcb_right .persons ul li.imgLi a:hover{
    border-color: #f90;
}
.lcb_right .persons ul li.imgLi img{
    width: 40px;
    height: 40px;
    border:none;
}
.lcb_right .persons ul li.li_more{
    width:210px;
    text-align: right;
}
.lcb_right .persons ul li.li_more a{
    width:210px;
    text-align: right;
    color: #1E5494;
    font-size: 12px;
}
.lcb_right .persons ul li.li_more a:hover{
    text-decoration: underline;
}

.lcb_right .news ul{
    float:left;
    width: 232px;
    padding:8px;
    list-style: url(../../images/list_dot.jpg) square inside;
}
.lcb_right .news ul li{
    width: 232px;
    height: 22px;
    overflow: hidden;
}
.lcb_right .news ul li a{
    padding-left: 5px;
    line-height: 22px;
    color:#354E92!important;
}
.lcb_right .news ul li a:hover{
    text-decoration:underline;
}
.lcb_right .hot_terms ul{
    float:left;
    list-style-type: none;
    padding:0px 0px 8px 16px;
}
.lcb_right .hot_terms ul li{
    float:left;
    width: 100px;
    margin-top: 8px;
    margin-right: 16px;
}
.lcb_right .hot_terms ul li.imgLi img{
    width: 100px;
    height: 75px;
    border:none;
}
.lcb_right .hot_terms ul li.imgLi a.down{
    float: left;
    width: 100px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
.lcb_right .hot_terms ul li.imgLi a.down:hover{
    text-decoration: underline;
}
.lcb_right .hot_terms ul li.li_more{
    width:200px;
    text-align: right;
}
.lcb_right .hot_terms ul li.li_more a{
    width:180px;
    text-align: right;
    color: #1E5494;
    font-size: 12px;
}
.lcb_right .hot_terms ul li.li_more a:hover{
    text-decoration: underline;
}


a.name_link{
    color:rgb(40,160,200);
}
a.name_link:hover{
    color:#f90;
    text-decoration: underline;
}

.orWord{
    color:#f90;
}
.orWord_large{
    color:#f90;
    font-size: 20px;
    line-height: 20px;
    font-weight:bold;
    font-family: "幼圆";
}

.type2{ float:left;width:110px; height:18px; background:url(../../images/blogindex/star.gif) repeat-x;text-align: right;}
.type2,.type2 .rate-current,.type2 .rate-on:hover,.type2-bad .rate-current,.type2-bad .rate-on:hover{ background: url(../../images/blogindex/star.gif) repeat-x; color:#cc6600;}
.type2{ position:relative; height:18px; width:110px;}
.type2 .rate-on,.type2 .rate-current{ position:absolute; top:0; left:0; height:18px; outline:none;}
.type2 .rate-current,.type2 .rate-on:hover{ background-position:0 -46px;}
.type2-bad .rate-current,.type2-bad .rate-on:hover{ background-position:0 -23px;}

.type2{margin-bottom:5px;}
.type2_left{float:left;line-height: 18px;}
.gradeLi{margin-top: 5px;}
