a img:hover{filter:alpha(opacity=60);-moz-opacity:0.6;background: #fff;opacity: 0.6;}
.fl{float:left;display: inline;}

.square_container {
	float: left;
	width: 970px;
    padding-top: 20px;
}
.head_img {
    background: url(../../images/index/index_bg_3.jpg) no-repeat;
}
.new_org {
	background-color: #FDF2C6;
	display: inline;
	float: left;
	height: 370px;
	width: 726px;
	margin-right: 30px;
}
.hot_org {
	background-color: #E8EEDB;
	float: right;
	height: 370px;
	width: 214px;
}

.sc_d{
    float:left;
}

div.cont{
    float:left;
    width:100%;
    overflow: hidden;
}
.show_count{
    float:left;
    display: inline;
    width: 726px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #bdbdbd;
    margin-right: 30px;
}
.show_count ul{
    float:left;
    width: 750px;
    list-style-type: none;
}

.show_count ul li{
    float:left;
    display: inline;
    width: 160px;
    height:193px;
    padding-top:4px;
    padding-left:4px;
    padding-right:4px;
    margin: 20px 14px 0px 0px;
    border: 1px solid rgb(204,204,204);
    overflow: hidden;
    position: relative;
}
.show_count ul li a.img img{
    width: 160px;
    height: 120px;
    border: none;
}
.show_count ul li a:hover{
    text-decoration: underline;
}
.show_count ul li p{
    width: 160px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    color:#666;
}
.show_count .title{
    color:#f90;
}
.show_count ul li .count{
    position: absolute;
    left:0px;
    bottom:0px;
    width: 170px;
    height: 33px;
    font-size: 14px;
    line-height: 33px;
    background: rgb(0,170,152);
    color:#fff;
    text-align: center;
    font-family: "Microsoft YaHei";
}
.ad_img {
	background:url(../../images/square/square_ad_bg.jpg);
	height: 92px;
	width: 970px;
	display: inline;
	margin-bottom: 20px;
	float: left;
}
.new_course {
	float: left;
	width: 970px;
    overflow: hidden;
}

.new_items{
    float:left;
    width: 970px;
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #bdbdbd;
    font-family: "Microsoft YaHei";
}
.new_items ul{
    float:left;
    width:1000px;
    list-style-type: none;
}
.new_items ul li{
    float:left;
    width: 228px;
    height: 134px;
    margin-right: 16px;
    margin-top: 20px;
    border:1px solid rgb(204,204,204);
    position: relative;
    overflow: hidden;
}
.new_items ul li a.img{
    float:left;
    margin: 2px 10px 10px 2px;
}
.new_items ul li a.img img{
    width: 80px;
    height: 60px;
    border: none;
}
.new_items ul li a.title{
    float:left;
    width: 136px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    margin-top: 8px;
    color:#f90;
    /*clear: right;*/
}
.new_items ul li a.title:hover{
    text-decoration: underline;
}
.new_items ul li a.reserve{
    float:left;
    width: 75px;
    margin-top: 10px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color:red;
    text-align: center;
    background: url(../../images/square/square_bg.png) -260px -2px no-repeat;
}
.new_items ul li div.msg{
    float:left;
    width:228px;
    height: 30px;
    line-height: 30px;
}
.new_items ul li span.num{
    float:left;
    height: 14px;
    font-size: 12px;
    margin:0 10px;
    padding-left:14px;
    color:#444;
}
/* 设置背景 */
.new_items ul li span.num1{}
.new_items ul li span.num2{}
.new_items ul li span.date{
    float:left;
    width: 228px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color:#222;
    background: rgb(243,242,241);
}
.new_items ul li a.teacher{
    position: absolute;
    right:5px;
    bottom:5px;
}
.new_items ul li a.teacher img{
    width:40px;
    height: 40px;
    border: none;
}

.hot_course {
	display: inline;
	float: left;
	height: 450px;
	width: 726px;
	margin-right: 30px;
    overflow: hidden;
}
.hot_course ul{
	float: left;
	width: 750px;
    padding-bottom: 20px;
    list-style-type: none;
}
.hot_course ul li{
	float: left;
    width: 168px;
    margin-top: 20px;
	margin-right: 15px;
    border: 1px solid #ebebeb;
    background: #fff;
    /*position: relative;*/
}
.hot_course ul li a.img{
	float: left;
}
.hot_course ul li a.img img{
	float: left;
    width: 160px;
    height: 120px;
    padding: 4px;
    border: none;
}
.hot_course ul li .date_reserve{
    float:left;
    display: inline;
    width: 160px;
    margin: 0 4px;
}
.hot_course ul li .date_reserve span{
    float: left;
    font-size: 12px;
    line-height: 20px;
    padding: 5px 0;
    color:#888;
}
.hot_course  ul li .tc{
    float:left;
    width: 168px;
    height: 24px;
    position: relative;
    z-index: 0;
}
.hot_course ul li .tc a.title{
    float: left;
    width: 124px;
    height: 24px;
    padding-left: 4px;
    padding-right: 40px;
    line-height: 24px;
    background:rgb(246,192,10);
    color:#fff;
    font-size: 14px;
}
.hot_course ul li .tc a.title:hover{
    text-decoration: underline;
}
.hot_course ul li .tc a.teacher{
    position: absolute;
    right: 4px;
    bottom: 4px;
    z-index: 1;
}
.hot_course ul li .tc a.teacher img{
    width: 30px;
    height: 30px;
    padding: 2px;
    border: 1px solid #ebebeb;
    background: #fff;
}

.ads {
	width: 970px;
    overflow: hidden;
}
.ads ul{
    width: 1100px;
    padding-left: 0;
}

.ads ul li{
    margin-right: 15px;
}

.hot_persons{
    float:left;
    display: inline;
    width: 726px;
    margin-top: 20px;
    padding-bottom: 15px;
    margin-right: 30px;
}
.hot_persons ul{
    float:left;
    width: 750px;
    list-style-type: none;
}
.hot_persons ul li{
    float:left;
    display: inline;
    width: 174px;
    height:113px;
    margin: 20px 7px 0px 0px;
    border: 1px solid rgb(204,204,204);
    overflow: hidden;
}
.hot_persons ul li a.img{
    float:left;
    margin: 1px 10px 10px 1px;
}
.hot_persons ul li a.img img{
    width: 60px;
    height: 60px;
    border: none;
}
.hot_persons ul li a:hover{
    text-decoration: underline;
}
.hot_persons ul li a.nick{
    float:left;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 16px;
    color:rgb(40,160,200);
    clear:right;
}
.hot_persons ul li span.msg{
    float:left;
    width: 100px;
    margin-bottom: 5px;
    font-size: 12px;
    color:#666;
}
.hot_persons ul li a.focus{
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 0 10px;
    background: #EBEBEB;
    color:red;
    border: 1px solid #ABABAB;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}
.hot_persons ul li a.focus:hover{
    background: #9A9A9A;
}
.hot_persons ul li span.title{
    float:left;
    width:164px;
    height: 43px;
    padding: 0px 5px;
    font-size: 12px;
    line-height: 21px;
    color:#333;
    word-wrap: break-word;
}

.live_trailer ul li a{
    float: left;
    width: 110px;
}
.live_trailer ul li span{
    color: #999;
    margin-left:5px;
}