#room_title{
    float: left;
    width:970px;
    margin: 20px 0 0 0;
}
#room_title h2{
    float: left;
}
#room_title h2 em{
    font-size: 14px;
    margin: 0 12px;
}
#room_title p{
    float: right;
    margin:10px 10px 0 0;
}
#room_title p a{
    color: #3E8FDA;
    margin-left: 12px;
}
#room_title p a:hover{
    text-decoration: underline;
}

#room_panel{
    float:left;
    width: 970px;
    margin-top: 10px;
    overflow: hidden;
}
#panel_flash{
    float: left;
    width: 440px;
}
#panel_flash .flash{
    width: 410px;
    height: 350px;
    padding: 15px;
    background: url(../../images/room/flash_bg.png) no-repeat;
}
#panel_flash .share_to{
    float: left;
    margin-top: 5px;
    padding: 5px;
    width: 428px;
    border:1px solid #ccc;
}
#panel_flash .share_to a{
    color:#333;
}
#panel_flash .host_desc{
    float: left;
    margin-top: 5px;
    padding: 5px;
    width: 428px;
    border:1px solid #ccc;
}
#panel_flash .host_desc a.img img{
    float: left;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 60px;
    height: 60px;
    padding: 3px;
    background: #fff;
    margin-right:10px;
}
#panel_flash .host_desc a.title{
    color: #598EDE;
}
#panel_flash .host_desc a.title:hover{
    text-decoration: underline;
}
#panel_flash .host_desc span{
    margin-left: 15px;
    color: #666;
}
#panel_flash .host_desc a.submit_btn{
    float: right;
}
#panel_flash .host_desc p{
    margin-top: 5px;
}
#panel_flash .onliveList{
    float: left;
    width: 438px;
    margin-top:5px;
    border: 1px solid #87cefa;
    overflow: hidden;
}
.onliveList h3{
    float: left;
    width: 100%;
    text-indent:10px;
    background: #e0ffff;
    line-height: 24px;
}
#panel_flash .onliveList ul{
    float: left;
    width: 500px;
    margin-left: 15px;
    margin-top: 4px;
}
#panel_flash .onliveList li{
    float: left;
    width:66px;
    margin-right: 20px;
    overflow: hidden;
    word-wrap: break-word;
}
#panel_flash .onliveList li img{
    width:60px;
    height: 60px;
}
#panel_flash .onliveList li a.title{
    display: inline-block;
    overflow: hidden;
    text-align: center;
    width: 64px;
    height: 22px;
    line-height: 22px;
    color:#3E8FDA;
}
#panel_flash .onliveList li a.title:hover{
    text-decoration: underline;
}

/* ---------聊天框和点歌框的CSS样式---------- */
#chat_music{
    float: left;
    width: 338px;
    height: 494px;
    margin-left: 10px;
    border: 1px solid #F7931E;
    background: #fff;
}
#chat_music .head{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #F7931E;
}
#chat_music .head li{
    float: left;
    /*width: 168px;*/
    width: 336px;
    text-align: center;
    /*border-right:1px solid #F7931E;*/
    /*border-bottom: 1px solid #F7931E;*/
    /*cursor: pointer;*/
}
#chat_music .head li.l2{
    border-right: none;
}
#chat_music .head li.emphasis{
    border-bottom: none;
}
#chat_music .chat{
    padding-top: 15px;
    position: relative;
}
#chat_music .chat .announce{
    width: 100%;
    height: 32px;
    line-height: 16px;
    word-wrap:break-word;
    overflow: hidden;
    border-bottom: 1px solid #D8D8D8;
}
#chat_music .chat .area{
    margin-top: 3px;
    margin-left: 10px;
    width: 318px;
    height: 362px;
    position: relative;
}
.area .msg_nick{
    color: #556b2f;
}
.area .msg_nick:hover{
    text-decoration: underline;
}
#messageList{
    width:100%;
    height: 100%;
    line-height: 140%;
    word-wrap: break-word;
    overflow-y: scroll;
}
#chat_music .chat .area:hover #btnClear{
    display: inline;
}
#chat_music .chat .area #btnClear{
    display: none;
    width:65px;
    height: 24px;
    position: absolute;
    right:15px;
    top:5px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 24px;
    letter-spacing: 2px;
    background: #efefef;
    cursor: pointer;
}
#chat_music .chat .area textarea{
    width: 314px;
    height: 380px;
    border: none;
}

#chat_music .music{
    padding-top:10px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#chat_music .music h4{
    width: 100%;
    line-height: 28px;
    color: #666;
    padding-left: 10px;
    border-bottom: 1px dotted #006400;
}
#chat_music .music .songList{
    width: 100%;
    height: 400px;
    overflow-x:hidden;
    overflow-y: scroll;
}
#chat_music .music table{
    width: 100%;
    border: none;
    margin-left: 10px;
}
#chat_music .music table tr:hover{
    background: #e0ffff;
}
#chat_music .music table td,#chat_music .music table th{
    padding: 2px;
    text-align: left;
    line-height: 24px;
}
#chat_music .music .addWrap{
    position: absolute;
    left: 10px;
    bottom: 0px;
    line-height: 24px;
    padding-bottom: 8px;
}
#chat_music .music a.play{
    display: inline-block;
    width: 24px;
    height: 24px;
    background:url("../../images/onlive/play.png");
}
#chat_music .music a.delete{
    display: inline-block;
    width: 24px;
    height: 24px;
    background:url("../../images/onlive/delete.png");
}
#chat_music .music a.add{
    display: inline-block;
    height: 24px;
    padding-left: 24px;
    line-height: 24px;
    background:url("../../images/onlive/add.png") no-repeat;
}

/*-----------观众列表框的CSS样式---------------*/
#audienceList{
    float: left;
    width: 162px;
    height: 494px;
    border:1px solid #F7931E;
    margin-left: 10px;
    overflow: hidden;
    background: #fff;
}
#audienceList .listulWrap{
    width: 162px;
    height:464px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#audienceList ul{
    margin: 10px 10px;
}
#audienceList ul li{
    /*margin-top: 4px;*/
    width:142px;
    height: 20px;
    overflow: hidden;
}
#audienceList p.title{
    width:100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom:1px solid #F7931E;
}
#audienceList li img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: none;
}
#audienceList li a.img{
    float: left;
}
#audienceList li a.title{
    line-height: 20px;
    color:#3E8FDA;
}
#audienceList li a.title:hover{
    text-decoration: underline;
}

/*----------文字输入框的CSS样式-----------*/
.msg{
    float: left;
    /*width: 338px;*/
    height: 38px;
    line-height: 38px;
    border-top: 1px solid #D8D8D8;
    padding: 0 8px;
    margin: 3px 0 0px 0px;
    background-color: #F8F8F7;
    vertical-align: middle;
    position: relative;
    z-index: 1000;
}
.msg strong{
    float: left;
    line-height: 38px;
    font-size: 14px;
}
.msg p {
    /*display: inline;*/
    float: left;
    padding: 0 2px;
}
.msg .audience{
    display: none;
    position: absolute;
    left: 10px;
    top: -210px;
    width: 100px;
    height: 200px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 4px;
    overflow-x:hidden;
    overflow-y:scroll;
}
.msg .audience a{
    float: left;
    width: 90px;
    height: 22px;
    overflow: hidden;
    padding-left:5px;
    line-height: 22px;
}
.msg .audience a:hover{
    background: #add8e6;
}
.msg_to_all {
    height: 18px;
    width: 60px;
    overflow: hidden;
    border: 1px solid #D8D8D8;
    padding:0 2px;
    margin-top: 9px;
    line-height: 18px;
    background-color: white;
    float: left;
    cursor: pointer;
    text-align: center;
}
.msg label {
    float: left;
    line-height: 38px;
    font-weight: bold;
    font-size: 14px;
    padding-left: 2px;
}
.msg_face {
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin-top: 3px;
    float: left;
    position: relative;
    /*z-index: 1001;*/
}
.msg_face .face_good{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../../images/face/gogowise_face.gif) -2px -2px;
}
.msg_face .defaultFacePanel{
    position: absolute;
    left: -100px;
    top: -204px;
    width: 437px;
    height: 204px;
    border: 1px solid #ccc;
    background: url(../../images/face/gogowise_face.gif);
    z-index: 1002;
}
.msg_face .defaultFacePanel a{
    display: block;
    float: left;
    width: 28px;
    height: 28px;
    margin: 1px 0 0 1px;
    overflow: hidden;
    cursor: default;
}
.msg_face .defaultFacePanel a:hover{
    border: 1px solid #50baee;
}
.in_tx {
    width: 150px;
    float: left;
    padding: 2px;
    border: 1px solid #D8D8D8;
    background-color: white;
    margin-top: 8px;
}
.msg .btn_del_fav {
    margin-top: 8px;
    width: 42px;
    color: white;
    line-height: 14px;
    border: none;
}
.msg .btn_del_fav, .op_dialog_content .btn_del_fav, .tips_title .btn_del_fav, .btn_wt, .btn_rd {
    height: 20px;
    padding: 0;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    margin-left: 3px;
    background: #CC0078;
}

/*--------添加直播间预告的CSS样式----------*/
.popup_box {
    float: left;
    width: 400px;
    padding: 8px;
    border: 1px solid #2a98e7;
}
#add_live_announce p{
    line-height: 22px;
}
#add_live_announce textarea{
    width: 100%;
    height: 70px;
}
#add_live_announce input{
    margin-top: 4px;
    margin-right: 20px;
}

/*-----------添加直播主题弹出框的CSS样式-------------*/
#add_live_title .input1{
    width: 100%;
}
#add_live_title p{
    margin: 5px 0;
}

/*---------邀请好友弹出框的CSS样式-----------*/
#invite_student_container p{
    float: left;
    width: 100%;
    margin-top: 4px;
}
#invite_student_container textarea{
    width: 100%;
    height: 50px;
}
#invite_student_container input{
    width: 80%;
    margin-top: 2px;
}
#invite_student_container .add_btn,#invite_student_container .delete_btn{
    margin-left: 8px;
}

/*----------提示用户填写直播地址的弹出框 CSS样式------------------*/
.address_tip_box p{
    line-height: 22px;
}
.address_tip_box input[type="text"]{
    width: 100%;
}
.address_tip_box .submit_btn{
    margin-top: 6px;
    margin-right: 12px;
}