<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-3.0.xsd
  http://www.springframework.org/schema/aop
  http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd"
       default-autowire="byName">
    <!--  -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <context:component-scan base-package="com.gogowise"/>



    <!--<jee:jndi-lookup id="dataSource" jndi-name="gogowiseDs"/>-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.characterEncoding">UTF-8</prop>
                <prop key="hibernate.useUnicode">true</prop>
                <prop key=" hibernate.jdbc.fetch_size">100</prop>
                <prop key="hibernate.connection.release_mode">auto</prop>
                <prop key="hibernate.autoReconnect">true</prop>
                <prop key="connection.autoReconnectForPools">true</prop>

                <prop key="hibernate.ejb.event.post-insert">org.hibernate.ejb.event.EJB3PostInsertEventListener,org.hibernate.envers.event.AuditEventListener</prop>
                <prop key="hibernate.ejb.event.post-update">org.hibernate.ejb.event.EJB3PostUpdateEventListener,org.hibernate.envers.event.AuditEventListener</prop>
                <prop key="hibernate.ejb.event.post-delete">org.hibernate.ejb.event.EJB3PostDeleteEventListener,org.hibernate.envers.event.AuditEventListener</prop>
                <prop key="hibernate.ejb.event.pre-collection-update">org.hibernate.envers.event.AuditEventListener</prop>
                <prop key="hibernate.ejb.event.pre-collection-remove">org.hibernate.envers.event.AuditEventListener</prop>
                <prop key="hibernate.ejb.event.post-collection-recreate">org.hibernate.envers.event.AuditEventListener</prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.gogowise.rep.user.user.BaseUser</value>
                <value>com.gogowise.rep.competition.enity.SingUpInfo</value>
                <value>com.gogowise.rep.user.user.Comments</value>
                <value>com.gogowise.rep.competition.enity.Competition</value>
                <value>com.gogowise.rep.competition.enity.CompetitionComments</value>
                <value>com.gogowise.rep.competition.enity.CompetitionPhase</value>
                <value>com.gogowise.rep.competition.enity.CompetitionSession</value>
                <value>com.gogowise.rep.competition.enity.Allocation</value>
                <value>com.gogowise.rep.competition.enity.JudgeAllocation</value>
                <value>com.gogowise.rep.competition.enity.HostAllocation</value>
                <value>com.gogowise.rep.competition.enity.SingerAllocation</value>
                <value>com.gogowise.rep.competition.enity.SingUpRole</value>
                <value>com.gogowise.rep.competition.enity.Subject</value>
                <value>com.gogowise.rep.competition.enity.InviteRelationship</value>
                <value>com.gogowise.rep.user.user.UserRelationship</value>
                <value>com.gogowise.rep.competition.enity.CompetitionAudience</value>
                <value>com.gogowise.rep.course.enity.Course</value>
                <value>com.gogowise.rep.course.enity.CourseClass</value>
                <value>com.gogowise.rep.org.org.Organization</value>
                <value>com.gogowise.rep.org.org.OrganizationHistory</value>
                <value>com.gogowise.rep.course.enity.ClassRoom</value>
                <value>com.gogowise.rep.course.enity.SeniorClassRoom</value>
                <value>com.gogowise.rep.org.org.ChangeResponserHistory</value>
                <value>com.gogowise.rep.finance.enity.UserAccountInfo</value>
                <value>com.gogowise.rep.finance.enity.ConsumptionRecord</value>
                <value>com.gogowise.rep.finance.enity.ConsumptionOrder</value>
                <value>com.gogowise.rep.course.enity.CourseEvaluation</value>
                <value>com.gogowise.rep.course.enity.CourseComment</value>
                <value>com.gogowise.rep.course.enity.CourseResource</value>
                <value>com.gogowise.rep.course.enity.CourseQuestion</value>
                <value>com.gogowise.rep.course.enity.BrowsedCourse</value>
                <value>com.gogowise.rep.org.org.OrganizationComment</value>
                <value>com.gogowise.rep.org.org.OrganizationTeacher</value>
                <value>com.gogowise.rep.course.enity.CourseInviteStudent</value>
                <value>com.gogowise.rep.org.org.Interview</value>
                <value>com.gogowise.rep.course.enity.CourseReservation</value>
                <value>com.gogowise.rep.org.org.InterviewAppointer</value>
                <value>com.gogowise.rep.course.enity.CourseRecommend</value>
                <value>com.gogowise.rep.org.org.OrgMeeting</value>
                <value>com.gogowise.rep.org.org.OrgMeetingMember</value>
                <value>com.gogowise.rep.user.user.BaseUserRoleType</value>
                <value>com.gogowise.rep.user.user.RoleType</value>
                <value>com.gogowise.rep.org.org.OrgMaterial</value>
                <value>com.gogowise.rep.live.live.MyShow</value>
                <value>com.gogowise.rep.live.live.ShowTerms</value>
                <value>com.gogowise.rep.live.live.ShowFans</value>
                <value>com.gogowise.rep.live.live.Matter</value>
                <value>com.gogowise.rep.live.live.Advertisement</value>
                <value>com.gogowise.rep.live.live.SeasonIncreasedShowFans</value>
                <value>com.gogowise.rep.live.live.ShowComment</value>
                <value>com.gogowise.rep.live.live.LiveChannel</value>
                <value>com.gogowise.rep.live.live.MemberOfLiveChannel</value>
                <value>com.gogowise.rep.live.live.ChannelTerms</value>
                <value>com.gogowise.rep.live.live.OnliveFollower</value>
                <value>com.gogowise.rep.live.live.LiveTermComment</value>
                <value>com.gogowise.rep.live.live.SeasonIncreasedOnliveFans</value>
                <value>com.gogowise.rep.live.live.AdvertisementForLive</value>
                <value>com.gogowise.rep.live.live.PersonalOnlive</value>
                <value>com.gogowise.rep.live.live.UserFans</value>
                <value>com.gogowise.rep.user.user.UserMatters</value>
                <value>com.gogowise.rep.course.enity.CourseNewEvent</value>
                <value>com.gogowise.rep.live.live.LiveChannelNewEvent</value>
                <value>com.gogowise.rep.live.live.ShowNewEvent</value>
                <value>com.gogowise.rep.system.system.GoGoWiseAnnounce</value>
                <value>com.gogowise.rep.live.live.LiveChannelComment</value>
                <value>com.gogowise.rep.system.system.FeedBackInfo</value>
                <value>com.gogowise.rep.live.live.LiveTrailer</value>
                <value>com.gogowise.rep.android.enity.AndroidFeedback</value>
                <value>com.gogowise.rep.org.org.OrgFans</value>
                <value>com.gogowise.rep.system.system.DownloadTime</value>
                <value>com.gogowise.rep.live.live.UserPrivateChannel</value>
                <value>com.gogowise.rep.live.live.SubPrivateChannel</value>
                <value>com.gogowise.rep.android.enity.ValidUser</value>
                <value>com.gogowise.rep.course.enity.CourseMaterial</value>
                <value>com.gogowise.rep.android.enity.IEMI</value>
                <value>com.gogowise.rep.android.enity.SerialNO</value>
                <value>com.gogowise.rep.live.live.MonitorAuthorize</value>
                <value>com.gogowise.urlfetch.sk.ClassType</value>

                <value>com.gogowise.urlfetch.sk.ClassInfo</value>
                <value>com.gogowise.urlfetch.sk.XiaoQu</value>
                <value>com.gogowise.urlfetch.sk.ClassXiaoQu</value>
                <value>com.gogowise.urlfetch.sk.School</value>
                <value>com.gogowise.urlfetch.hotel.Hotel</value>


                <value>com.gogowise.urlfetch.sk.domain.SkClass</value>
                <value>com.gogowise.urlfetch.sk.domain.SkRegion</value>
                <value>com.gogowise.urlfetch.sk.domain.SkClassType</value>
                <value>com.gogowise.urlfetch.sk.domain.SkSchool</value>
                <value>com.gogowise.urlfetch.sk.domain.SkXiaoQu</value>
                <value>com.gogowise.urlfetch.sk.domain.SkClassTimeType</value>
                <value>com.gogowise.urlfetch.sk.domain.SkTypeRule</value>

            </list>
        </property>
    </bean>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:myConfig.properties</value>
            </list>
        </property>
    </bean>

    <bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <!--<property name="driverClassName" value="com.p6spy.engine.spy.P6SpyDriver"/>-->
        <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/gogowise?useUnicode=true&amp;characterEncoding=utf8"/>
        <property name="user" value="${db.user}"/>
        <property name="password" value="${db.password}"/>
        <property name="maxPoolSize" value="15"></property>
        <property name="minPoolSize" value="5"></property>
        <property name="initialPoolSize" value="5"></property>
        <property name="maxIdleTime" value="120"></property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>


    <!--============================Action================================-->
    <bean id="basicAction" class="com.gogowise.action.BasicAction">
    </bean>

    <!--============================filter================================-->
    <bean id="orgSecFilter" class="com.gogowise.common.utils.OrgSecFilter">
        <!--<property name="name">-->
        <!--<value>SpringFilter</value>-->
        <!--</property>-->
    </bean>

    <!--============================Schedule================================-->
    <task:executor id="executor" pool-size="1" />
    <task:scheduler id="scheduler" pool-size="5"  />
    <task:annotation-driven executor="executor" scheduler="scheduler"  />


    <!--============================webservice================================-->
    <bean id="webTest" class="com.gogowise.common.ws.WebServiceSampleImpl">
        <property name="baseUserDao" ref="baseUserDao"/>
    </bean>
    <!--<jaxws:endpoint id="webServiceSample"-->
    <!--address="/WebServiceSample" implementorClass="com.gogowise.common.ws.WebServiceSampleImpl">-->
    <!--<jaxws:implementor ref="webTest">-->
    <!--</jaxws:implementor>-->
    <!--</jaxws:endpoint>-->
</beans>
