body{

    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
    color: #000;
}


.footersbg
{
    height: 160px;
    background-color: #555e69;
    text-align: left;
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    border-radius: 10px;
}

.footersLogo
{
    background-image:url(/images/course/logo2.png);
    height: 70px;
    width: 225px;
    margin-top: 40px;
    border-right-width: 1px;
    border-style:  none  solid none none;
    background-repeat: no-repeat;
}

.footersLink
{
    margin-left: 80px;
    margin-top:30px;
    word-spacing:5pt;
}

.footersSiteInfo
{
    margin-top:35px;
    margin-left: 80px;
    word-spacing:5pt;


}

.container
{
    padding-top: 10px;
}

.topLogo
{
    background-image:url(/images/course/logo.png);
    height: 50px;
    width: 215px;
}
.navlink
{
    font-family: 'Segoe UI Light',Verdana, Geneva, sans-serif;;
    font-size: 30px;
    color: #6ab600;
}

.thickline
{
    height: 5px;width: 100%; background-color: #6ab600;margin-bottom: 10px;
}

.thicklineExtra
{
    height: 5px;width: 100%; background-color: #6ab600;margin-bottom: 10px;
}

.thinline
{
    height: 1px;width: 100%; background-color: #6ab600;margin-top: 5px;
}

.thinlineGray
{
    height: 1px;width: 100%; background-color: #e5e5e5;margin-top: 5px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.courseSubject
{
    font-size: 36px;
    color: #6ab600;
}

.courseSynopsis
{
    font-size: 14px;
    color: #969696;
    font-family: Verdana, Geneva, sans-serif;
}

.courseSubhead
{
    font-size: 24px;
    color: #969696;
}

.courseBody
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color:#575757;
    word-spacing:3pt;
    line-height:20pt;
}

.lessonOrange
{
    width: 210px;
    height: 74px;
    background-image: url(/images/course/lessonOrange.png);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-repeat: no-repeat;
}

.lessonGreen
{
    width: 210px;
    height: 74px;
    background-image: url(/images/course/lessonGreen.png);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-repeat: no-repeat;
}

.lessonOrange #lessonText
{
    padding-top: 10px;
    padding-right: 135px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #fff;
}

.lessonOrange #lessonName
{
    /*padding-left: 60px;*/
    padding-left: 75px;
    text-align: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #999;
}

.lessonGreen #lessonText
{
    padding-top: 10px;
    padding-right: 135px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #fff;
}

.lessonGreen #lessonName
{
    /*padding-left: 60px;*/
    padding-left: 75px;
    text-align: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #999;
}


.portrait
{
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
    color: #000;

}

.portrait span
{
    padding-left: 10px;
}

.portrait img
{
    border-radius: 6px;
    text-align: left;
    height: 56px;
    width: 56px;
}

.forumContent
{
    font-size: 14px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #037fac;
}

.forumContentDate
{
    text-align: right;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.recommended
{
    text-align: center;
    color: #000;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    height: 150px;

}

.recommended a:hover img
{
    color: red;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
}

.recommended img
{
    border-radius: 6px;
    height: 110px;
    width:220px;
}

.gogopanelHead
{
    border-width: 0px;
    border-style: solid;
    width: 100%;
    height: 40px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #6ab600;
    text-align: left;

}

.gogopanelTitle
{
    color:#fff;
    padding-top:5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    padding-left:20px;
}

.gogopanelBody
{
    background-color: #f4f4f4;
    width: 100%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

}

.gogopanelWhole
{
    background-color: #f4f4f4;
    width: 100%;
    border-radius: 6px;

}


.gogopanelBodyText
{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}

.teacherPortrait
{
    float:left;
    margin-right:15px;
    border-radius: 6px;
    height: 56px;
    width: 56px
}

.teacherPortraitRight
{
    float:right;
    margin-left:15px;
    border-radius: 6px;
}

.teacherTitleRight
{
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
}


.teacherTitle
{
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.basePanel
{
    width: 100%;
    background-color: #f4f4f4;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 6px;
    text-align: center;
}

.basePanelshadow
{
    width: 100%;
    background-color: #f4f4f4;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 6px;
    text-align: center;
}

.basePanelTextLeft
{
    width: 100%;
    background-color: #f4f4f4;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 6px;
    text-align: left;
}


.basePanelGrey
{
    width: 100%;
    background-color: #dddddd;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 8px;
    color: #fff;
    border-radius: 6px;
    color: #000;
    font-size: 18px;
    font-family: 'Bookman Old Style', serif;
}

.basePanelBlueGrey
{
    width: 100%;
    background-color: #555e69;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 8px;
    color: #fff;
    border-radius: 6px;
    color: #fff;
    font-size: 24px;
    font-family: 'Bookman Old Style', serif;
}


.half-frameWhite
{
    width: 90%;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;
    color: #000;
    margin-right: auto;
    margin-left: auto;

}

.bannerImg
{
    border-radius: 10px;
}


.schoolPortrait
{
    float:left;
    margin-right:25px;
    border-radius: 6px;
}

.schoolTitle
{
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 14px;
}


.statisticsItem
{
    margin-top: 20px;
}

.lecturerPortrait
{
    float:left;
    margin-right:25px;
    margin-bottom:25px;
    border-radius: 8px;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    width: 300px;
    height: 300px;
}

.lecturerName
{
    font-size: 24px;
    color: #6ab600;
    font-family: Verdana, Geneva, sans-serif;
    font-weight:  bold;

}

.lecturerTitle
{
    font-size: 14px;
    color: #999;
    font-family: Verdana, Geneva, sans-serif;
}

.coursePanel
{
    width: 100%;
    height: 125px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    text-align: center;
    margin-top: 25px;

}

.coursePanelPortrait
{
    margin-right: 20px;
    margin-left:15px;
    border-radius: 6px;
    margin-top: 20px;
    width: 150px;
    height: 83px;
}

.coursePanelName
{
    float:left;
    margin-left:15px;
    border-radius: 6px;
}

.coursePanelInfoRight
{
    margin-top: 20px;
    margin-left:15px;
    border-radius: 6px;
    text-align: left;
}

.coursePanelInfoLeft
{
    float:left;
}


a:hover .coursePanel
{
    background-color: #6ab600;
    border-width: 1px;
    border-color: #6ab600;
    color: #fff;
    text-decoration:underline;
}


.downloadIcon
{
    width: 45px;
    height: 45px;
}

.mycourseImg img
{
    width: 210px;
    height: 110px;
    border-radius: 6px;
}

.messageGreen1
{
    width: 100%;
    background-color: #3cb879;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
    border-radius: 3px;
    text-align: center;
    margin-top: 4px;
    color: #fff;
}

.messageGreen2
{
    width: 100%;
    background-color: #3ab54b;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
    border-radius: 3px;
    text-align: center;
    margin-top: 4px;
    color: #fff;
}

.messageGreen3
{

    width: 100%;
    background-color: #00a650;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
    border-radius: 3px;
    text-align: center;
    margin-top: 4px;
    color: #fff;
}

.messageGreen4
{
    width: 100%;
    background-color: #019875;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
    border-radius: 3px;
    text-align: center;
    margin-top: 4px;
    color: #fff;
}

.messageGreen5
{
    width: 100%;
    background-color: #005826;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
    border-radius: 3px;
    text-align: center;
    margin-top: 4px;
    color: #fff;
}

.basePanelTextLeftAbsolute
{
    width: 100%;
    background-color: #f4f4f4;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 6px;
    text-align: left;
    height: 345px;
}

.centerIcon
{
    float: left;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 3px;
}


.courseItem
{
    width: 100%;
    background-color: #f4f4f4;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 6px;
    text-align: center;
}

a:hover .courseItem
{
    background-color: #fff;
    border-width: 1px;
    border-color: #6ab600;
    color: #fff;
}


.recommendedSchool
{
    text-align: center;
    color: #000;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    padding: 5px;
}


.recommendedSchool img
{
    border-radius: 6px;
    -moz-box-shadow: 1px 1px 2px #000;
    -webkit-box-shadow: 1px 1px 2px #000;
    box-shadow: 1px 1px 2px #000;
    margin: 3px;

}
