#MapInfoNav {
    position: absolute;
    width: 350px;
    left: 1px;
    top: 0;
    height: 32px;
    background: url(../../images/map/nav_bj_lddesq.png) no-repeat right 0;
    /*z-index: 2;*/
}

#favBtn, #specialBtn {
    float: right;
}

#selCity {
    display: none;
    padding: 8px 0 0 5px;
    float: left;
    cursor: pointer;
}

#selCity .curcity-expand {
    font-size: 12px;
    margin-right: 2px;
    line-height: 15px;
    height: 15px;
    display: inline-block;
    color: #4C4C4C;
    text-decoration: none;
    background: url(../../images/map/city_buttons_fdgjdh.png) no-repeat scroll right -146px;
    padding-right: 15px;
}

#tools {
    position: relative;
    height: 32px;
    color: #333;
    background: url(../../images/map/nav_bj_24a15l.gif) repeat-x 0 0;
    white-space: nowrap;
    /*z-index: 21;*/
    padding-right: 310px;
}

.tools_l {
    position: absolute;
    left: 350px;
    top: 0;
    /*z-index: 1;*/
    padding: 0 14px;
    width: 360px;
}

.tools_r {
    position: absolute;
    float: right;
    right: 0;
    /*z-index: 2;*/
    background: url(../../images/map/nav_bj_24a15l.gif) repeat-x 0 0;
}

.tools_r_con {
    display: none;
    float: right;
    height: 31px;
}

.tools_r_con .map_popup button {
    top: 11px;
}

.l-tools {
    margin: 0 11px 0 10px;
}

.l-tools a {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    float: left;
    padding: 0 6px;
    margin: 4px 0 0 0;
    color: #4c73c2;
    height: 22px;
    line-height: 24px;
    overflow: hidden;
}

.l-tools a:hover {
    padding: 0 5px;
    height: 22px;
    line-height: 22px;
    background: #F6F6F6 !important;
    border: 1px solid #DBDBDB !important;
    border-radius: 1px;
    -o-border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}

.l-tools a span {
    background: url(../../images/map/icon_y_5rz3ne.png) -3px -24px no-repeat;
    padding-left: 15px;
+ background-position : - 3 px - 26 px;
}

.tools_r b {
    position: absolute;
    left: 5px;
    top: 6px;
    width: 12px;
    height: 12px;
    background: url(../../images/map/tools_img_muuzx0.png) no-repeat 0 -158px;
    _display: inline;
    overflow: hidden;
    zoom: 1;
}

.tools_r .sehinv_icon .span_r {
    padding-left: 22px;
}

.tools_r .sehinv_icon b {
    width: 13px;
    background-position: 0 -158px;
}

.tools_r .traf_icon .span_r {
    padding-left: 16px;
}

.tools_r .traf_icon b {
    width: 6px;
    background-position: -15px -158px;
}

.tools_r .tool_icon .span_r {
    padding: 0 17px 0 21px;
}

.tools_r .tool_icon {
    position: relative;
}

.tools_r .tool_icon .tool_icon1 {
    left: auto;
    top: 10px;
    right: 5px;
    _right: 4px;
    width: 9px;
    background-position: -60px -158px;
    margin-left: 5px;
}

.tools_r .tool_icon .tool_icon2 {
    background-position: -30px -158px;
}

.tools_r .full_icon .span_r {
    padding-left: 21px;
}

.tools_r .full_icon b {
    top: 7px;
    background-position: -45px -158px;
}

.tools_r .return_full_icon .span_r {
    padding-left: 21px;
}

.tools_r .return_full_icon b {
    top: 7px;
    background-position: -15px -208px;
}

.tools_r .box_icon .span_r {
    padding-left: 18px;
}

.tools_r .box_icon b {
    background-position: -120px -158px;
}

.tools_r .subway_icon .span_r {
    padding-left: 18px;
}

.tools_r .subway_icon b {
    width: 9px;
    height: 11px;
    top: 7px;
    background-position: -105px -158px;
}

.tools_r .train_icon .span_r {
    padding-left: 18px;
}

.tools_r .train_icon b {
    width: 11px;
    height: 11px;
    top: 7px;
    background-position: 0 -208px;
}

.tools_r .park_icon .span_r {
    padding-left: 18px;
}

.tools_r .park_icon b {
    width: 11px;
    height: 11px;
    top: 7px;
    background-position: -120px -183px;
}

.tools_r .gas_icon .span_r {
    padding-left: 18px;
}

.tools_r .gas_icon b {
    width: 11px;
    height: 11px;
    top: 7px;
    background-position: -105px -183px;
}

.tools_r .fav_icon .span_r {
    padding-left: 18px;
}

.tools_r .fav_icon b {
    background-position: -90px -158px;
    margin-right: 4px;
    _margin-right: 0;
}

.tools_r .span_l, .tools_r .span_r {
    float: left;
    height: 24px;
}

.tools_r .span_l {
    position: relative;
    margin: 4px 3px 0 0;
    /*z-index: 300000;*/
    _display: inline;
}

.tools_r .span_r {
    line-height: 25px;
    *line-height: 28px;
    cursor: pointer;
    padding: 0 5px;
    _display: inline;
    margin-left: 1px;
    overflow: hidden;
}

.tools_r .span_r span {
    float: left;
}

.tools_r .span_over, .tools_r .span_over .span_r, .tools_r .span_focus, .tools_r .span_focus .span_r {
    background: url(../../images/map/tools_img_muuzx0.png) no-repeat 0 0;
}

.tools_r .span_over .span_r {
    background-position: right 0;
}

.tools_r .span_focus {
    background-position: 0 -27px;
}

.tools_r .span_focus .span_r {
    background-position: right -27px;
}

.tools_r .span_over, .tools_r .span_focus {
    color: #4c73c2;
}

.tools_r .span_over .tool_icon1, .tools_r .span_focus .tool_icon1 {
    background-position: -75px -158px;
}

.tools_r .tool_box {
    position: absolute;
    background: #fff;
    left: 0;
    top: 23px;
    width: 61px;
    border: #c3c3c2 solid 1px;
    /*z-index: 300000;*/
}

.tools_r .tool_box .span_over {
    background: #f5f5f5;
}

.tools_r .tool_box .span_focus {
    background: #f5f5f5;
}

.tools_r .tool_box span, .tools_r .tool_box .print {
    position: relative;
    padding-left: 22px;
    float: none;
    display: block;
    height: 22px;
    line-height: 22px;
    *line-height: 26px;
    cursor: pointer;
    overflow: hidden;
}

.tools_r .tool_box .print {
    color: #4c73c2;
    text-decoration: none;
}

.tools_r .tool_box b {
    top: 6px;
}

.tools_r .tool_box .measure b {
    width: 7px;
    left: 7px;
    background-position: 0 -183px;
}

.tools_r .tool_box .capwrap b {
    width: 12px;
    left: 5px;
    background-position: -15px -183px;
}

.tools_r .tool_box .signwrap b {
    width: 7px;
    left: 7px;
    background-position: -30px -183px;
}

.tools_r .tool_box .link b {
    width: 12px;
    top: 5px;
    left: 5px;
    background-position: -45px -183px;
}

.tools_r .tool_box .print b {
    width: 12px;
    left: 5px;
    background-position: -60px -183px;
}

.tools_r .splitter {
    width: 2px;
    height: 19px;
    background: url(image/bgs_ud0o0k.gif) no-repeat 0 -179px;
    vertical-align: -4px;
}


#ToolsCon {
    position: absolute;
    width: 329px;
    display: none;
    background: #fff;
    /*z-index: 1000;*/
    padding: 10px;
}

#divBox {
    position: absolute;
    width: 289px;
    display: none;
    background: gray;
    /*z-index: 100;*/
    padding: 10px 10px;
}

#ToolsCon .toolsTitle {
    height: 30px;
    line-height: 30px;
    border-bottom: solid 1px #ece9d8;
    margin-bottom: 5px;
}

#ToolsCon .toolsTitle .titleL {
    float: left;
    color: #4d71c7;
    font-weight: bold;
}

#ToolsCon .toolsTitle .titleR {
    float: right;
    cursor: pointer;
    width: 10px;
    height: 30px;
    background: url(image/popup_close_jhuger.gif) 0 10px no-repeat;
}

#ToolsCon .toolsContent {
    width: 329px;
    height: 100px;
    position: relative;
}

#tools_search {
    float: left;
    margin-top: 2px;
    overflow: hidden;
}

.tsbutton {
    float: left;
    margin: 3px 0 0 0;
}

.tstext {
    float: left;
    margin: 3px;
    *margin-top: 2px;
    *display: inline;
}

.tools_search_input {
    width: 119px;
    *width: 117px;
    height: 18px;
    line-height: 18px;
    border: #ccc solid 1px;
}

.tools_search_submit {
    width: 43px;
    height: 22px;
    line-height: 25px;
    text-align: center;
    padding: 0;
    border: 0;
    background: url(../../images/map/tools_img_muuzx0.png) no-repeat 0 -124px;
    cursor: pointer;
}

.tools_search_submit_over {
    background-position: -50px -124px;
}

.tools_search_submit_down {
    background-position: -100px -124px;
}

.tools_r .popup_main .content {
    overflow-x: hidden;
}

.toolsIcon .preferential {
    background-position: 0 -586px;
}


.tools_r .pano_icon .span_r {
    padding-left: 22px;
}

.tools_r .pano_icon b {
    width: 13px;
    background-position: -45px -183px;
}

#MapHolder{
    float: right;
    background: #ffbbbb;
}

#MapInfoCon{
    float: left;
    width: 330px;
    padding:0 10px;
    border-right: 1px solid #ccc;
    overflow-x: hidden;
    overflow-y: auto;
}
#MapInfoCon p{
    float: left;
    width: 296px;
    height: 30px;
    line-height: 30px;
    background: #E5EEFF;
    /*color: #3D6DCC;*/
    padding: 0 15px;
    margin: 10px 0;
    text-align: right;
}
.infoWrap{
    float: left;
    margin-top: 5px;
    padding: 5px;
    width: 320px;
    font-size: 12px;
    cursor: pointer;
}
.infoWrap:hover{
    background: #f0f0f0;
}
.infoWrap .infoLeft{
    float: left;
    width: 32px;
    height: 40px;
}
.infoWrap .infoLeft .bubbleA{
    display: block;
    width: 19px;
    height: 29px;
    background: url(../../images/map/markers_new_wn5i2b.png) 0 -198px;
    margin: 4px 0 0 7px;
}
.infoWrap:hover .infoLeft .bubbleA{
    background-position-y: -230px;
}
.infoWrap .infoMid{
    float: left;
    width: 200px;
    line-height: 24px;
}
.infoWrap .infoMid h3{
    font-size: 12px;
    color: #00c;
    text-decoration: underline;
}
.infoWrap .infoMid a{
    line-height: 16px;
}
.infoWrap .infoRight{
    float: right;
}
.infoWrap .infoRight img{
    width:70px;
    height: 70px;
    border: 1px solid #ccc;
}