<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
       default-autowire="byName">

    <!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->


    <!--<jee:jndi-lookup id="dataSource" jndi-name="gogowiseDs"/>-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.characterEncoding">UTF-8</prop>
                <prop key="hibernate.useUnicode">true</prop>
                <prop key=" hibernate.jdbc.fetch_size">100</prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.gogowise.rep.user.enity.BaseUser</value>
                <value>com.gogowise.rep.competition.enity.SingUpInfo</value>
                <value>com.gogowise.rep.user.enity.Comments</value>
                <value>com.gogowise.rep.competition.enity.Competition</value>
                <value>com.gogowise.rep.competition.enity.CompetitionComments</value>
                <value>com.gogowise.rep.competition.enity.CompetitionPhase</value>
                <value>com.gogowise.rep.competition.enity.CompetitionSession</value>
                <value>com.gogowise.rep.competition.enity.JudgeAllocation</value>
                <value>com.gogowise.rep.competition.enity.HostAllocation</value>
                <value>com.gogowise.rep.competition.enity.SingerAllocation</value>
                <value>com.gogowise.rep.competition.enity.SingUpRole</value>
                <value>com.gogowise.rep.competition.enity.Subject</value>
            </list>
        </property>
    </bean>

    <bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
        <!--<property name="url" value="jdbc:mysql://localhost:3306/gogowise?useUnicode=true&amp;characterEncoding=utf8"/>-->
        <property name="url" value="jdbc:sqlserver://localhost:1433;databaseName=tlchat;integratedSecurity=true"/>
        <property name="username" value="root"/>
        <property name="password" value="123"/>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven/>

    <bean id="modelDao" class="com.gogowise.rep.ModelDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="singUpDao" class="com.gogowise.rep.competition.SingUpDaoImpl" parent="modelDao">
        <property name="competitionSessionDao" ref="competitionSessionDao"/>
        <property name="competitionDao" ref="competitionDao"/>
        <property name="baseUserDao" ref="baseUserDao"/>
        <property name="singerAllocationDao" ref="singerAllocationDao"/>
        <property name="commentsDao" ref="commentsDao"/>
    </bean>
    <bean id="competitionDao" class="com.gogowise.rep.competition.CompetitionDaoImpl" parent="modelDao"></bean>
    <bean id="baseUserDao" class="com.gogowise.rep.user.BaseUserDaoImpl" parent="modelDao"></bean>
    <bean id="groupDao" class="com.gogowise.rep.impl.GroupDaoImpl" parent="modelDao"></bean>
    <bean id="competitionPhaseDao" class="com.gogowise.rep.competition.CompetitionPhaseDaoImpl" parent="modelDao"></bean>
    <bean id="hostAllocationDao" class="com.gogowise.rep.competition.HostAllocationDaoImpl" parent="modelDao"></bean>
    <bean id="judgeAllocationDao" class="com.gogowise.rep.competition.JudgeAllocationDaoImpl" parent="modelDao"></bean>
    <bean id="singerAllocationDao" class="com.gogowise.rep.competition.SingerAllocationDaoImpl" parent="modelDao"></bean>
    <bean id="subjectDao" class="com.gogowise.rep.competition.SubjectDaoImpl" parent="modelDao"></bean>
    <bean id="commentsDao" class="com.gogowise.rep.course.CommentsDaoImpl" parent="modelDao"></bean>
    <bean id="favoriteDao" class="com.gogowise.rep.competition.FavoriteDaoImpl" parent="modelDao"></bean>

    <bean id="competitionSessionDao" class="com.gogowise.rep.competition.CompetitionSessionDaoImpl" parent="modelDao">
        <property name="competitionPhaseDao" ref="competitionPhaseDao"/>
        <property name="hostAllocationDao" ref="hostAllocationDao"/>
        <property name="judgeAllocationDao" ref="judgeAllocationDao"/>
        <property name="singerAllocationDao" ref="singerAllocationDao"/>
        <property name="singUpDao" ref="singUpDao"></property>
    </bean>


    <!--============================Action================================-->
    <bean id="basicAction" class="com.gogowise.action.BasicAction"></bean>


</beans>
