@charset "utf-8";
/* CSS Document */

#blogindex,#blogindex div,#blogindex ul,#blogindex li,#blogindex h1#blogindex ,#blogindex h2,#blogindex h3,#blogindex h4,#blogindex h5,#blogindex  table{ margin:0px; padding:0px; font-family:Verdana, Geneva, sans-serif; color:#666; background:#FFF;}
ul,li{ list-style:none;}
div{ float:left;}
a{ color:#cc6600; text-decoration:underline;}
a:hover{ color:#F90;}
#blogindex{ width:1000px; margin:0px auto; position:relative; float:none; font-size:14px; text-align:left;}
.blogframe{ width:1000px; background:url(../images/blogindex/frame1center.gif) center repeat-y; position:relative; padding-bottom:15px;}
.blogframe #video{height:310px;width:406px;padding: 2px;margin: 0 15px 10px;border: 1px solid #CCC;}
#courseinfo{ width:240px; margin:30px 15px 5px;}
b{ color:#cc6600;}
h2{ color:#006699; font-size:22px;padding-bottom:2px; float:left; width:320px;}
#evaluate{ width:260px; margin:30px 0px 5px;}
#evaluate b{ font-style:oblique;}
#evaluate h3{  font-size:18px; height:28px; padding-bottom:2px;}
#evaluate h3 b{ font-size:24px;}
img.frame1bottom{ position:absolute; left:0; bottom:0;}
.btn1{border:none; height:54px; width:183px; cursor:pointer; margin:5px 30px 0px 15px;}
.reservation{ background:url(../images/blogindex/blogreservation.gif) no-repeat; }
.evaluate{ background:url(../images/blogindex/blogevaluate.gif) no-repeat;}

#ievaluate{ margin-left:15px; width:970px;}
#evaluatepanel{ display:none;}


#allclass{ width:960px; float:left; position:relative; margin:5px 5px 0px 20px;}
h4{width:90%;color:#000; font-size:18px;padding-bottom:2px; float:left; margin:2px 15px; font-weight:bold;}
h5{ width:90%;color:#666; font-size:16px;padding-bottom:2px; float:left; margin:2px 15px; font-weight:bold;}
#carousel_ul a table{ width:100%; height:100%;}
#carousel_ul a:hover table{ border:#F93 2px solid;}
.con{overflow:hidden; width:958px; background-color:#FFF;}
#carousel_container{position:relative; height:100px;overflow:hidden; float:left; width:958px;}
#carousel_inner{width:900px; height:95px; overflow: hidden; position:absolute;left:27px; top:5px;}
#left_scroll{position: absolute;left:0;top:20px;width:26px;height:56px;cursor: pointer;cursor: hand; background: url(../images/blogindex/listdirection.gif) no-repeat;}
#right_scroll{position: absolute;top:20px;right:0; width:28px;height:56px;cursor: pointer;cursor: hand; background: url(../images/blogindex/listdirection2.gif) no-repeat;}
#carousel_ul{width:9999px; height:95px; position:relative;}
#carousel_ul li{float: left;width:138px; height:90px; border:solid 1px #999; display:inline; margin:0 5px; background:#EAEAEA;}
#carousel_ul li a{ text-decoration:none; font-size:12px;}
#carousel_ul li a .td1{ color:#000; text-align:center; font-weight:bold;}
#carousel_ul li a .td2{ color:#006699; text-align:center;}
#carousel_ul li a .td3{ color:#666; text-align:center;}

#conleft{ width:724px; float:left;}
.blogframe2{ width:724px; background:url(../images/blogindex/frame2center.gif) center repeat-y; position:relative; padding-bottom:15px; float:left;}
.blogframe2 table{ margin:0px 15px 10px;}
.introtitle{ padding:3px 15px; font-size:16px; color:#cc6600; font-weight:bolder;}
.introcon{ padding:2px 10px 2px 30px;}
.introcon p{ text-indent:2em; line-height:18px;}
.intromore{ text-align:right; padding-right:10px;}
.intromore a{text-decoration:none;}
#conright{ width:270px; float:right;}


.blogframe3{ width:270px; background:url(../images/blogindex/frame3center.gif) center repeat-y; position:relative; padding-bottom:15px; float:left;}
.photolist{ list-style:none; padding:0px;float:left; margin:15px 10px 5px 10px; width:250px; font-size:12px;}
.photolist li{ float:left; margin-left:4px;}
.photolist li a{ display:block; width:120px;  text-align:center; text-decoration:none; color:#333333; font-size:12px;}
.photolist li a:hover,.photolist li a:active{ color:#CCCCCC;}
.photolist a img{ display:block; width:110px; height:90px; border:1px #999 solid; margin-bottom:2px; padding:4px;}
.photolist li td{ text-align:center; height:20px;}
.photolist li .td5 a{ color:#cc6600; display:inline; text-decoration:underline;}
.photolist li .td5 a:hover{ color:#F90;}

#commentlist{ float:left; width:960px;}
.type2,.type2 .rate-current,.type2 .rate-on:hover,.type2-bad .rate-current,.type2-bad .rate-on:hover{ background: url(../images/blogindex/star.gif) repeat-x; color:#cc6600;}
.type2{ position:relative; height:18px; width:110px;}
.type2 .rate-on,.type2 .rate-current{ position:absolute; top:0; left:0; height:18px; outline:none;}
.type2 .rate-current,.type2 .rate-on:hover{ background-position:0 -46px;}
.type2-bad .rate-current,.type2-bad .rate-on:hover{ background-position:0 -23px;}


#tabs10 { float:left;width:97%; font-size:93%; border-bottom:1px solid #2763A5;line-height:normal; margin-left:10px; margin-bottom:15px;}
#tabs10 ul {padding:0px 10px 0 20px;}
#tabs10 li {display:inline;}
#tabs10 a {float:left;background: url(../images/blogindex/tableft10.gif) no-repeat left top;margin:0;padding:0 0 0 4px;text-decoration:none; }
#tabs10 a span {float:left;display:block; background:url(../images/blogindex/tabright10.gif) no-repeat right top;padding:5px 15px 4px 6px;color:#FFF; }
#tabs10 a span {float:none;}
#tabs9 a:hover span {color:#FFF;}
#tabs10 a:hover {background-position:0% -42px;}
#tabs10 a:hover span {background-position:100% -42px; }
#tabs10 #current a {background-position:0% -42px; }
#tabs10 #current a span {background-position:100% -42px;}

#commentpanel{ width:95%; margin-left:15px; margin-bottom:15px;}
#communicatepanel{ width:95%; margin-left:15px; margin-bottom:15px;display:none;}
#infopanel{ width:95%; margin-left:15px; margin-bottom:15px; font-size:12px;display:none; }

.commenttd1{ width:120px; text-align:right; padding-right:20px; padding-top:5px;}
.commenttd2{ width:140px; text-align:right; padding-right:4px; padding-top:5px;}
.commenttd3 div{ width:50px; padding-right:4px; padding-top:5px; font-size:18px; font-style:oblique; color:#F60;font-weight:bold;}
.commenttd4{ width:50px; padding-right:4px; padding-top:5px; font-size:24px; font-style:oblique; color:#F60; font-weight:bold;}
.commenttd5{ width:290px; text-align:right; padding-right:20px; padding-top:5px;}

.commentdetail{ border-bottom:1px #CCC dashed; font-size:12px; width:100%; float:left;}
.commentdetail .userlogo{ width:100px; text-align:center;}
.commentdetail .userlogo img{ padding:1px; border:1px solid #999;}
.commentnumber{ width:60px; font-size:12px; text-align:right;}
.commentdetail .tdname{ padding:3px 10px 3px 10px; color:#006699; font-size:14px; font-weight:bold; width:90px;}
.commentdetail .tdtime{ font-size:12px; color:#666; width:180px;}
.commentdetail .iwantreply{ text-align:right; padding-right:6px; width:60px;}
.commentdetail .commentnumber{ text-align:right;}
.commentdetail table{ margin-top:6px;}


.commentdetail .tdname2{ padding:3px 10px 3px 10px; color:#006699; font-size:12px; font-weight:bold; width:80px;}
.commentdetail .tdtime{ font-size:12px; color:#666; width:120px;}
.commentdetail table{ margin-top:6px; float:left;}

 .replylist{width:92%;margin-left:45px; display:none;border-top:1px dotted #999;}
  .ireply{ width:92%; margin-left:45px; padding:3px 5px 3px 2px; background-color:#EEE; font-size:12px; display:none; border-top:1px dotted #999}

.infolist{ border:1px dotted #999; margin:5px 0; width:650px;}  
.infolist td{ padding:3px 4px;}
 .infotitle{ width:100px; border-right:1px dotted #999;}
 .infopeople{ width:120px; border-bottom:1px dashed #999}
  .uploadtime{ border-bottom:1px dashed #999; width:160px;}
  
  
.toggles{ width:92%; margin-left:20px;} 
dl dt { width:98%;font-size:14px; font-weight:bold; color:#006600; cursor:pointer; display:block; text-align:left; line-height:30px;}
dl dd{ margin:0px; padding:0px;}
dl dd h2 { font-size:15px; }
dl .dt2{ width:90%;color:#666; font-size:18px;padding-bottom:2px; margin:2px 15px; font-weight:bold;}
.btnsubmit{ font-size:12px;}
.answerpeople{ width:150px; text-align:left; font-size:12px;}
.answertime{ width:140px; text-align:right; font-size:12px;}

.topbtn{ width:500px; float:left;}

#teachername{ position:relative;}
#teachername .type2{ width:110px; height:18px; background:url(../images/blogindex/star.gif) repeat-x; display:block; position:absolute; top:-5px; right:5px;}
.filefield{ height:24px; padding:4px 0; width:100%}

.logo{ width:50px; height:56px; padding:1px; border:1px solid #999; float:left; margin:0px 3px 2px 0px;}

.bottom{ width:1000px; border-top:1px solid #999; color:#999; clear:both; margin-top:10px; font-weight:bold; padding-right:15px;}
.bottom p{ text-align:right; height:20px;}
