@charset "utf-8";
/* CSS Document */

.interviewContainer {
	float: left;
	width: 800px;
	margin-left: 10px;
}
.interviewContainer .interviewTittle {
	background-color: rgb(227,238,248);
	line-height: 30px;
	padding-left: 10px;
	float: left;
	width: 750px;
	clear: both;
	margin-top: 20px;
}
.interviewContainer .interviewDetail {
	float: left;
}
.interviewContainer .interviewDetail ul li .option_tittle{
    float:left;
    padding-right: 10px;
    margin-bottom: 3px;
}
.interviewContainer .interviewDetail ul li .input_msg{
    color:#ff0000;
    font-size:13px;
    font-weight: lighter;
    display: block;
    float:left;
    margin-top: 3px;
}
.option_content{
    float:left;
    width:700px;
    clear:both;
}
.interviewContainer .interviewDetail ul li .input_msg .error{
    float:left;
    margin-right: 2px;
    background-image: url(../images/input_msg_tip.png);
    background-position: 0px 0px;
    width: 16px;
    height:16px;
}
.interviewContainer .interviewDetail ul li .input_msg .right{
    float:left;
    background-image: url(../images/input_msg_tip.png);
    background-position: 0px -250px;
    width: 16px;
    height:16px;
}
.interviewContainer .interviewDetail ul li .interview_submit {
	padding-right: 10px;
	padding-left: 10px;
	line-height: 30px;
	background-color: rgb(0,102,204);
	display: block;
	color: #FFF;
	cursor: pointer;
	border: none;
	height: 30px;
	font-size: 18px;
	font-weight: bold;
}
.interviewContainer .interviewDetail ul li .interview_input {
	height: 26px;
	width: 600px;
	border: 1px solid #CCC;
	line-height: 26px;
}
.interviewContainer .interviewDetail ul li .interview_textarea {
	height: 100px;
	width: 600px;
	border: 1px solid #CCC;
}
.interviewContainer .interviewDetail ul li .interview_content_wordsLeft{
   display: block;
   float:right;
    margin-right: 145px;
    font-size: 13px;
    color:#666;
}
.interviewContainer .interviewDetail ul li .interview_content_wordsLeft .words_number{
    font-size: 18px;
    color:#066;
    font-family: sans-serif;
}

.interviewContainer .interviewDetail ul li .interviewer_add{
    text-decoration: underline;
   cursor: pointer;
   color:#666;
    float:left;
    padding-right: 10px;
}
.interviewContainer .interviewDetail ul li .interviewee_delete{
   text-decoration: underline;
   cursor: pointer;
   color:#666;
}
.interviewContainer .interviewDetail ul li .interviewer_add:hover,
.interviewContainer .interviewDetail ul li .interviewee_delete:hover{
    color:#066;
}

.interviewContainer .interviewDetail ul {
	list-style-type: none;
}
.interviewContainer .interviewDetail ul li {
	display: block;
    float:left;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(219,241,249);
	width: 730px;
	margin-left: 20px;
}
