.contents1{
    float: left;
    padding: 20px 0 0 15px;
}
.contents1 table,.contents1 table tr,.contents1 table tr td,.contents1 table tr th{
    border: 1px solid #ccc;
    border-collapse: collapse;
}
.contents1 table{
    float: left;
    width: 780px;
}
.contents1 table tr td,.contents1 table tr th{
    padding: 5px;
    color: #444;
    font-weight: normal;
    text-align: left;
}